td .spnTooltip, th .spnTooltip{
    z-index:10;display:none; padding:14px 20px;
    margin-top:40px; margin-left:-15px;
    width:300px; line-height:16px;
}
td:hover .spnTooltip, th:hover .spnTooltip{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
